@font-face {
    src: url('~/dist/assets/fonts/OpenSansHebrew-Regular.ttf');
    // src: url('../../fonts/OpenSansHebrew-Regular.ttf');
    font-family: 'OpenSansHebrew';
}

@font-face {
    src: url('~/dist/assets/fonts/CrimsonText-SemiBoldItalic.ttf');
    // src: url('../../fonts/OpenSansHebrew-Regular.ttf');
    font-family: 'CrimsonText-SemiBoldItalic';
}
@font-face {
    src: url('~/dist/assets/fonts/OpenSansHebrew-ExtraBold.ttf');
    font-family: 'OpenSansHebrew-ExtraBold';
}

// @font-face {
//     src: url('~/dist/assets/fonts/OpenSans.woff');
//     // src: url('../../fonts/OpenSansHebrew-Regular.ttf');
//     font-family: 'OpenSans';
// }

body,html{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-size: 100%;
    font-family: 'OpenSansHebrew';
    // font-family: 'OpenSansHebrew-ExtraBold';
}

address{
    margin: 0;
}

h2, h3{
    margin: 0;
}






