body,html{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-size: 100%;
}

address{
    margin: 0;
}

@media (max-width: 576px) {  }

@media (max-width: 768px) {  }

@media (max-width: 992px) {  }

@media (max-width: 1200px) {  }
