$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$large-screen-width: 1450px;

@mixin mobile{
    @media (max-width: $mobile-width){
        @content;
    }
}

@mixin tablet {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin large-screen {
  @media (max-width: $large-screen-width) {
    @content;
  }
}

@mixin header{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

@mixin header-layout{
    display: flex;
    padding-bottom: 2.5rem;
}

@mixin action-button {
  color: white;
  background-color: black; 
}

@mixin input-shared {
  border: 1px solid black;
  outline: none;
  color: black;
};

@mixin main-title {
    font-size: 3.375rem;
    font-weight: 800;
    line-height: 60px;

    @include mobile {
        margin-top: 4.375rem;
        font-size: 2.1875rem;
        font-weight: 800;
        line-height: 38px;
    }
}

@mixin default-title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 65px;

    @include mobile {
        font-size: 30px;
        font-weight: 800;
        line-height: 36px;   
    }
}

@mixin featured-content-desktop {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
    @include mobile {
        width: 100%;
    }
}


@mixin inputPlaceholder() {
  $selector: '';
  $prefixes: (
      moz: "::-moz",
      webkit: "::-webkit",
      ie: ":-ms"
  );
  @each $prop, $value in $prefixes {
      @if $prop != "moz" {
          $selector: #{$value}-input-placeholder;
      } @else {
          $selector: #{$value}-placeholder;
      }
      @if & {
          &#{$selector} {
              @content;
          }
      } @else {
          #{$selector} {
              @content;
          }
      }
  }
  &::placeholder {
    @content;
  }
}

@include inputPlaceholder() {
  color: white;
}

