// Colors
$main-background-color: #F3F3F3;
$secondary-background-color: #A5A5A5;
$color-featured: #96753B;
$color-projects: #96753B ;
$color-courses-education: #0200FF ;
$color-events: #FF4B00 ;
$color-menu-links: white;
$color-header: white;
$color-footer: white;
$color-mobile-menu: white;
$color-mobile-menu-bkg: #96753B;
$color-rectangle: #00FFBD;

// Fonts
$font-main: "Gill Sans", sans-serif;
$font-secondary: 'system-ui';
