// Colors
$main-background-color: white;
$secondary-background-color: #A5A5A5;
$color-featured: #905B00;
$color-projects: #C57D00 ;
$color-courses-education: #017D99 ;
$color-education-content: #017D99 ;
$color-events: #FE6200 ;
$color-events-text: white;
$color-past-events-bkg: #F5F5F5;
$color-menu-links: white;
$color-header: white;
$color-footer: #303030;
$color-footer-text: white;
$color-mobile-menu: white;
$color-mobile-menu-bkg: #96753B;
$color-rectangle: #00FFBD;
$color-about: #264060;
$color-ephemera: #AF6F00;
$color-btn-hover-text: white; 


$max-width-btn: 260px;
