// Colors
$main-background-color: white;
$secondary-background-color: #A5A5A5;
$color-featured: #905B00;
$color-projects: #C57D00 ;
$color-courses-education: #00D4D7 ;
$color-events: #FE6200 ;
$color-events-text: white;
$color-menu-links: white;
$color-header: white;
$color-footer: #303030;
$color-footer-text: white;
$color-mobile-menu: white;
$color-mobile-menu-bkg: #96753B;
$color-rectangle: #00FFBD;

// Fonts
// $font-main: "Gill Sans", sans-serif;
// $font-secondary: 'system-ui';
