.content-row{
    display: flex;
}

.img-wrapper, .text-wrapper{
    width:50%;
}

.img-wrapper{
    background-color: red;
    display: block;
}

.form-item{
    width: 100%;
}

.contact-us-section-wrapper{
    display: flex;
}

.contact-sections{
    width: 50%;
}

.NLI-map{
    display: block;
    background-color: red;
    height: 200px;
}