.app-footer {
    
    color: $color-footer-text;
    background-color: $color-footer;
    padding: 5.875rem 0 4.0625rem 0;
    
    @include mobile {
        text-align: center;
        padding: 5rem 1.875rem 4.0625rem 1.875rem;
    }


    h2 {
        font-weight: bold;
        line-height: 1.5625rem !important;
        font-size: 1.25rem !important;
        
        @include mobile {
            color: #C67E00;
            margin: 0 0 1.5rem 0 !important;
        }
        
    }

    .copyright-text {
        margin: 0;
        font-size: 0.75rem;
        line-height: 1.0625rem;

        @include mobile {
            font-size: 0.625rem;
            line-height: 0.875rem;
        }
    }

    .footer-icons {
        font-size: 1.5rem;
        margin: 1.5rem;
        
        &:hover {
            cursor: pointer;
        }
        
        &::before {
            display: inline-block;
            margin: 0;
            
        }
    }

    .footer-icons:hover::before {
        transition: all 0.2s;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
    }

    .footer-upper {
        display: flex;
        flex-direction: row;

        @include mobile {
            flex-direction: column;
        }

        .footer-upper-section {
            width: 33.3%;

            @include mobile {
                width: 100%;
                
                &:first-child {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }

    }

    input {
        color: inherit;
        width: 100%;
        background-color: $color-footer;
        border: none;
    }
    
    input:not([type=submit]) {
        border-bottom: 2px solid $color-footer-text;
        margin-bottom: 2.5rem;

        @include mobile {
            border-bottom: 1.5px solid $color-footer-text;
        }
    }

    .footer-contact-btn {
        font-family: 'OpenSansHebrew-ExtraBold';
        color: inherit;
        font-size: 0.9375rem;
        background: linear-gradient(180deg, #C67E00 0%, #905B00 100%);
        border-radius: 10px;
        height: 2.5rem;
        
        &:hover {
            background: transparent;
            color: $color-featured;
            border: 1px solid $color-featured;
        }
        
        @include mobile {
            max-width: $max-width-btn;
            margin-left: auto; 
            margin-right: auto; 
            border-radius: 15px;
        }
    }

    .footer-lower {
        text-align: center;
    }

    .view-map {
        font-family: 'OpenSansHebrew-ExtraBold';
        font-weight: bold;
        line-height: 1.625rem;
        color: inherit;
    }

    .social-media-cont {
        margin: 6.875rem 0 2rem 0;

        @include mobile {
            margin-top: 6.25rem;
        }
    }

    .form-wrapper {

        @include mobile {
            margin-bottom: 6.25rem;
        }
    }

    .footer-copyright-breaker {
        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }
    
    .nli {
        @include mobile {
            display: none;
        }
    }

    .contact-us {
        @include mobile {
            margin-top: 4.375rem;
        }
    }

    .address-wrapper {
        display: flex;

        @include mobile {
            justify-content: center;
        }
        
        address {
            margin-bottom: 3.5rem;
            
            @include mobile {
                text-align: left;
            }
        }

        .icon-location-outline {
            font-size: 28px;
            margin-right: 10px;
            margin-top: -3px;
            
            &::before {
                margin: 0;
            }
            
            &:hover {
                cursor: initial;
            }
            
            @include mobile {
                margin-top: -5px;
            } 
        }
    }

    .come-visit-section {

        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        @include desktop {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .form-input-wrapper {
        @extend .come-visit-section;
    }

}
