.app-header {

    height: 30.3125rem;

    // background-color: red;
    background-repeat: no-repeat;
    background-size: cover; 

    .row{
        margin: 0;
    }

    .navigation-list-wrapper{
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .library-logo-cont{
        text-align: right;

        @include mobile{
            display: none;
        }

        @include tablet{
            display: none;
        }
    }

}

.shared-header{
    height: 30.3125rem;
    // height: 350px;
    // background-color: red;
    display: flex;
    padding-bottom: 10.9375rem;
    color: $color-header;

    
    h1 {
        font-size: 3.375rem;
        font-weight: 800;
        line-height: 74px;
    }

    p {
        font-size: 1.1875rem;
        line-height: 30px;
        margin-top: 1.25rem;
    }

    .desktop-navigation-links {
        padding: 1.25rem 0;
        margin-bottom: 4rem;

        @include mobile {
            display: none;
        }
    }
    // h1{
    //     @include header
    // }
    
    // .header-wrapper {
    //     @include header
    // }
}

.desktop-navigation-links{
    display: flex;
    align-items: center;
}

.navigation-links{
    color: $color-menu-links;
}

#logo-img {
    position: absolute;
    width: 80px;
    left: 36px;
    top: 20px;

    @include large-screen {
        display: none;
    }
}

// .navigation-list {
//     padding: 0 1rem;
// }

.input-wrapper{
    position: relative;
}

#input-search-icon{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}

[class^="col-xs-"]{
    padding: 0;
    margin: 0;
}

.main-content-wrapper{
    background-color: #EEEEEE;
}

.website-logo-cont{

    @include mobile{
        padding: 0;
    }
}

.header-center{

    display: flex;

    @include mobile{
        display: none;
    }
}

.header-wrapper{
    @include mobile{
        width: 100%;
    }
}

// .search-cont{

//     @include mobile{
//         display: none;
//     }

// }


