.app-header {

    height: 30.3125rem;

    @include mobile {
        height: 16.5625rem;
    }

    background-repeat: no-repeat;
    background-size: cover; 

    .row {
        margin: 0;
    }

    .navigation-list-wrapper {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .library-logo-cont {
        text-align: right;

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }

}

.shared-header {
    padding-top: 9.375rem;
    height: 30.3125rem;
    display: flex;
    // padding-bottom: 10.9375rem;
    color: $color-header;

    @include mobile {
        padding-top: 0;
    }

    @include mobile {
        padding: 2.1875rem; 
        height: 16.5625rem;
    }
    
    h1 {
        font-size: 3.375rem;
        font-weight: 800;
        line-height: 4.625rem;

    }

    p {
        font-size: 1.1875rem;
        line-height: 1.875rem;
        margin-top: 1.25rem;
    }

    .desktop-navigation-links {
        padding: 1.25rem 0 !important;
        // margin-bottom: 4rem;

        @include mobile {
            display: none;
        }
    }
}

.desktop-navigation-links {
    display: flex;
    align-items: center;
}

.navigation-links {
    color: $color-menu-links;

    &:hover {
        text-decoration: none;
    }
}

#logo-img {
    position: absolute;
    // position: fixed;
    // width: 80px;
    left: 36px;
    top: 1.1875rem;

    @include large-screen {
        display: none;
    }
}

#mobile-logo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    z-index: 20;

    @include mobile {
        display: block;
    }

}



// .navigation-list:nth-child(1):hover > .navigation-links{
//     color: white !important;
//     opacity: 0.85;
// }

// .navigation-list:nth-child(2):hover > .navigation-links{
//     color: $color-projects !important;
// }

// .navigation-list:nth-child(3):hover > .navigation-links{
//     color: $color-courses-education !important;
// }

// .navigation-list:nth-child(4):hover > .navigation-links{
//     color: $color-events !important;
// }

// .navigation-list:nth-child(5):hover > .navigation-links{
//     color: white !important;
// }

.navigation-list:hover > .navigation-links { 
    transition: all 0.1s;
}

.navigation-list:hover {
    transition: all 0.1s;
    transform: translateY(-5px);
}
.navigation-list-about:hover > .navigation-links {
    color: white !important;
    opacity: 0.85;
}

.navigation-list-projects:hover > .navigation-links {
    color: $color-projects !important;
}

.navigation-list-education:hover > .navigation-links {
    color: $color-courses-education !important;
}

.navigation-list-events:hover > .navigation-links {
    color: $color-events !important;
}

.navigation-list-contact:hover > .navigation-links {
    color: white !important;
}

[class^="col-xs-"] {
    padding: 0;
    margin: 0;
}

.main-content-wrapper {
    background-color: #EEEEEE;
}

.website-logo-cont {

    @include mobile {
        padding: 0;
    }
}

.header-center {

    display: flex;

    @include mobile {
        display: none;
    }
}

.header-wrapper {
    @include mobile {
        width: 100%;
    }
}

.tablet-icon {
    display: none;

    @include large-screen {
        display: block;
    }
}

