.app-header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0;

    .row{
        margin: 0;
    }

    .navigation-list-wrapper{
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .library-logo-cont{
        text-align: right;

        @include mobile{
            display: none;
        }

        @include tablet{
            display: none;
        }
    }

}

.desktop-navigation-links{
    display: flex;
    align-items: center;
}

.navigation-list {
    padding: 0 1rem;
}

.input-wrapper{
    position: relative;
}

#input-search-icon{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}

[class^="col-xs-"]{
    padding: 0;
    margin: 0;
}

.main-content-wrapper{
    background-color: #EEEEEE;
}

.website-logo-cont{

    @include mobile{
        padding: 0;
    }
}

.header-center{

    display: flex;

    @include mobile{
        display: none;
    }
}

.header-wrapper{
    @include mobile{
        width: 100%;
    }
}

.search-cont{

    @include mobile{
        display: none;
    }

}
