#nav-icon{
    display: flex;
    width: 20px;
    background-color: $secondary-background-color;
    margin: 2px 0;
    border-radius: 2px;
    flex-direction: column;
    justify-content: center;


    position: absolute;
    top: -5px;
    bottom: auto;
    right: 1px;
    margin: 1.1rem;
    height: 40px;
    z-index: 20;

    &:hover{
      cursor: pointer;
    }

    span{
      display: flex;
      width: 20px;
      height: 3px;
      margin: 4px 0;
      border-radius: 2px;
      background-color:gray;
    }

    @include tablet{
      display: none;
    }

    @include desktop{
      display: none;
    }
}


