

#mobile-menu {
    background: linear-gradient(0deg, #C67E00 0%, #905B00 100%);
    font-family: 'OpenSansHebrew-ExtraBold';
    font-size: 1.1875rem;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    color: $color-mobile-menu;
    background-color: $color-mobile-menu-bkg;
    padding-top: 5.375rem;

    .mobile-menu-header {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
    }

    .mobile-navigation-list-wrapper {
        padding: 0;
        margin: 0;
        font-weight: bold;
    }

    .mobile-navigation-list {
        list-style: none;
        text-align: center;
        margin-bottom: 3.75rem;
    }

    .mobile-navigation-links {
        display: block;
        color: $color-mobile-menu;
    }

    .mobile-menu-main {
        background-color: transparent !important;
    }

    .mobile-footer {
        text-align: center;

        .footer-icons {
            font-size: 35px;
            margin: 0.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .copyright-wrapper {

        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;

        .copyright-text {
            font-size: 0.625rem;
            line-height: 0.875rem;
            font-family: 'OpenSans-Light';
        }
    }

}
