.container{

    @include desktop {
        padding: 0 !important;
    }

    @include mobile {
        padding: 0 !important;
    }

    
}

@media (min-width: 768px) {
    .container {
      max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 885px;
    }
}
  
@media (min-width: 1200px) {
.container {
    max-width: 885px;
}
}