.shared-header{
    height: 300px;
    background-color: red;
    display: flex;
    padding-bottom: 2.5rem;
    color: $color-header;

    // h1{
    //     @include header
    // }
    
    // .header-wrapper {
    //     @include header
    // }
}

main {
    .rectangle {
        @include mobile {
            display: none;
        }
    }
}

// .shared-block-wrapper{
//     margin: 1rem  0;
// }

.shared-heading{
    margin: 0;
}

.block-img{
    display:block;
    background-color: lightblue;
    width: 43%;
    height: 370px;

    @include mobile{
        width: 100%;
        height: 280px;
    }
}

.shared-block-details{
    // margin: 1.25rem;
    margin-left: 2.5rem;
    height: 100%;
    border-bottom: 1px solid black;
    // width: 40%;

    @include mobile{
        margin: 0;
        border: none;
        // padding: 1.25rem;
        // width: 100%;
    }
}

.shared-block-wrapper{
    display: flex;
    background-color: $main-background-color;

    @include mobile{
        display: flex;
        flex-direction: column;
    }
}

.shared-block-footer {
    
    @include mobile {
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    .shared-block-footer-wrapper{
        text-align: right;
        padding: 1.5rem;
        padding-top: 1.25rem;
        
        @include mobile {
            text-align: center;
            border-bottom: 1px solid;
        }
        
        
        // padding-right: 1.5rem;
    }

}




.shared-btn{
    width: 100%;
    color: $secondary-background-color;
//     background-color: #169BD5;
    margin-top: 1rem;
    border-radius: 20px;

    @include mobile{
        padding: 1rem;
    }
}

.past-event .event-btn{
    display: none;
}

@include tablet{
    .container{
        width: 100%;
    }
}

[class^="icon-"]:hover{
    cursor: pointer;
}

.social-media-wrapper{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
}

.shared-details-wrapper{
    width: 55%;
    
    @include mobile {
        width: 100%;
        padding: 1.25rem;
    }
}

.main-shared{
    padding-top: 3.375rem;
    background-color: $main-background-color;
    
    @include mobile {
        padding: 1.5rem 0.25rem 0 0.25rem;
    }
}

header {
    color: $color-header;
}

main {
 background-color:  $main-background-color;  
}

.shared-block-spacer {
    padding: 3.75rem 0;
    @include mobile {
        display: none;
    }
}

.sign-up .btn{
    @include action-button;
}

.uppercase{
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.color-featured {
    color: $color-featured;
}

.color-project {
    color: $color-projects;
}

.color-education {
    color: $color-courses-education;
}

.color-event {
    color: $color-events;
}

.featured-action {
    color: $color-featured;
    border-color: $color-featured;
}

.project-action {
    color: $color-projects;
    border-color: $color-projects;
}

.education-action {
    color: $color-courses-education;
    border-color: $color-courses-education;
}

.event-action {
    color: $color-events;
    border-color: $color-events;
}
.featured-action {
    color: $color-featured;
    border-color: $color-featured;
}

.project-action {
    color: $color-projects;
    border-color: $color-projects;
}

.education-action {
    color: $color-courses-education;
    border-color: $color-courses-education;
}

.event-action {
    color: $color-events;
    border-color: $color-events;
}

.featured-border {
    border-color: $color-featured;
}

.project-border {
    border-color: $color-projects;
}

.education-border {
    border-color: $color-courses-education;
}

.event-border {
    border-color: $color-events;
}

.rectangle {
    width: 235px;
    height: 10px;
    background-color: $color-rectangle;
}

.featured-content {
    .rectangle {
        background-color: $color-featured;
    }
}


// .row-wrapper, .main-content {
//     padding: 0 !important;
// }


