

main {
    .rectangle {
        @include mobile {
            display: none;
        }
    }

    p {
        line-height: 1.5625rem;
    }
}

// .shared-block-wrapper{
//     margin: 1rem  0;
// }

.shared-heading {
    margin: 0;
}

.block-img {

    @include transition-timing;
    display: block;
    // width: 41%;
    width: 370px;
    height: 330px;

    @include mobile {
        width: 100%;
        height: 280px;
        padding: 0 0.25rem;
    }
}

.shared-block-details {

    display: flex;
    flex-direction: column;
    // margin: 1.25rem;
    margin-left: 2.5rem;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // width: 40%;

    @include mobile {
        margin: 0;
        border: none;
        // padding: 1.25rem;
        // width: 100%;
    }
}

.shared-block-wrapper {
    display: flex;
    background-color: $main-background-color;
    // height: 330px;

    @include mobile {
        display: flex;
        flex-direction: column;
    }
}

.shared-block-footer {

    text-align: center;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.1875rem;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: none;
    }
    
    @include mobile {
        // display: block;
        padding: 0 1rem;

        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    // .shared-block-footer-wrapper{
    //     text-align: right;
    //     padding: 1.5rem;
    //     padding-top: 1.25rem;
        
    //     @include mobile {
    //         text-align: center;
    //         // border-bottom: 1px solid;
    //     }
        
        
    //     // padding-right: 1.5rem;
    // }

}




.shared-btn {

    font-family: 'OpenSansHebrew-ExtraBold';
    width: 50%;
    color: $secondary-background-color;
    font-size: 0.9375rem;
    font-weight: 800;
    line-height: 1.25rem;
    //background-color: #169BD5;
    margin-top: 1rem;
    border-radius: 15px;
    height: 2.625rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: $max-width-btn;
    
    @include mobile {
        width: 100%;
        padding: 1rem;
        margin-left: auto; 
        margin-right: auto; 
        // margin: 0 auto;
        // margin-top: 1.875rem;
    }
}

.past-event .event-btn {
    display: none;
}


.event-btn {
    background: linear-gradient(180deg, #DD5019 0%, #FF6300 100%);
    color: $color-events-text !important;
}

@include tablet {
    .container {
        width: 100%;
    }
}

[class^="icon-"]:hover {
    cursor: pointer;
}

.social-media-wrapper {
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
}

.shared-details-wrapper {
    // width: 55%;
    
    @include mobile {
        width: 100%;
        padding: 1.25rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 0.25rem;
        
    }
}

.main-shared {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    background-color: $main-background-color;
    
    @include mobile {
        padding-top: 1.875rem;
        padding-bottom: 2.5rem;
        // padding-bottom: 0;
    }
}

header {
    color: $color-header;
}

main {
    background-color:  $main-background-color;  
}

.shared-block-spacer {
    padding: 1.5625rem 0;
    @include mobile {
        display: none;
    }
}

.sign-up .btn {
    @include action-button;
}

.btn {

    &:hover {
        color: currentColor;
        color: inherit;
    }

    &:active {
        color: currentColor;
        color: inherit;
    }
}

a {
    &:hover {
        color: currentColor;
        color: inherit;
    }

    &:active {
        color: currentColor;
        color: inherit;
    }
}

.btn-wrapper {
    margin-top: auto;
    padding-bottom: 1.875rem;
    
    @include mobile {
        padding-bottom: 0;
    }
}

.title-breaker {
    @include mobile {
        display: none;
    }
}

.custom-container {
    width: 585px;
    margin: 0 auto;
    
    @include mobile {
        width: 100%;
    }
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.color-featured {
    color: $color-featured;
}

.color-project {
    color: $color-projects;
}

.color-education {
    color: $color-courses-education;
}

.color-event {
    color: $color-events;
}

.color-about {
    color: $color-about;
}

.color-ephemera {
    color: $color-ephemera;
}

.featured-action {
    color: $color-featured;
    border-color: $color-featured;
}

.project-action {
    color: $color-projects;
    border-color: $color-projects;
}

.education-action {
    color: $color-education-content;
    border-color: $color-education-content;
}

.event-action {
    color: $color-events;
    border-color: $color-events;
}

.about-action {
    color: $color-about;
    border-color: $color-about;
}

.featured-border {
    border-color: $color-featured !important;
}

.project-border {
    border-color: $color-projects !important;
}

.education-border {
    border-color: $color-education-content !important;
}

.event-border {
    border-color: $color-events !important;
}

.about-border {
    border-color: $color-about !important;
}

.rectangle {
    width: 235px;
    height: 10px;
    background-color: $color-rectangle;
    margin-bottom: 0.625rem;
}

.featured-content {
    .rectangle {
        background-color: $color-featured;
    }
}


.js-close.icon-right-open::before {
    transform: rotate(90deg);
    transition: all 0.4s;
}

.js-hide {
    display: none;
}

.js-transparent {
    background: transparent !important;
    background-color: transparent !important;
}



.mobile-item {
    display: none;
    @include mobile {
        display: block;
    }
}

.desktop-item {
    @include mobile {
        display: none;
    }
}

.desktop-header-text {
    @include mobile {
        display: none;
    }
}

.featured-action {
    .btn {
        &:hover {
            color: $color-btn-hover-text !important;
            background: linear-gradient(180deg, #C67E00 0%, #905B00 100%);
            border: none;
        }
    }
  }
  
.education-action {
    .btn {
        &:hover {
            color: $color-btn-hover-text !important;
            background: linear-gradient(180deg, #00ABAD 0%, #017D99 100%);
            border: none;
        }
    }
}

.screen-reader-text { 
    clip: rect(1px, 1px, 1px, 1px); 
    height: 1px; 
    width: 1px; 
    overflow: hidden; 
    position: absolute !important;
}

