

main {
    .rectangle {
        @include mobile {
            display: none;
        }
    }
}

// .shared-block-wrapper{
//     margin: 1rem  0;
// }

.shared-heading{
    margin: 0;
}

.block-img{
    display:block;
    // background-color: lightblue;
    width: 41%;
    height: 330px;

    @include mobile{
        width: 100%;
        height: 280px;
        padding: 0 0.25rem;
    }
}

.shared-block-details{

    display: flex;
    flex-direction: column;
    // margin: 1.25rem;
    margin-left: 2.5rem;
    height: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    // width: 40%;

    @include mobile{
        margin: 0;
        border: none;
        // padding: 1.25rem;
        // width: 100%;
    }
}

.shared-block-wrapper{
    display: flex;
    background-color: $main-background-color;
    // height: 330px;

    @include mobile{
        display: flex;
        flex-direction: column;
    }
}

.shared-block-footer {

    text-align: center;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 19px;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: none;
    }
    
    @include mobile {
        // display: block;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    // .shared-block-footer-wrapper{
    //     text-align: right;
    //     padding: 1.5rem;
    //     padding-top: 1.25rem;
        
    //     @include mobile {
    //         text-align: center;
    //         // border-bottom: 1px solid;
    //     }
        
        
    //     // padding-right: 1.5rem;
    // }

}




.shared-btn{
    width: 100%;
    color: $secondary-background-color;
    font-size: 0.9375rem;
    font-weight: 800;
    line-height: 20px;
//     background-color: #169BD5;
    margin-top: 1rem;
    border-radius: 15px;

    @include mobile{
        padding: 1rem;
    }
}

.past-event .event-btn{
    display: none;
}

.event-btn {
    background: linear-gradient(180deg, #DD5019 0%, #FF6300 100%);
    color: $color-events-text;
}

@include tablet{
    .container{
        width: 100%;
    }
}

[class^="icon-"]:hover{
    cursor: pointer;
}

.social-media-wrapper{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
}

.shared-details-wrapper{
    width: 55%;
    
    @include mobile {
        width: 100%;
        padding: 1.25rem;
        border-bottom: 2px solid rgba(0,0,0,.1);
        margin-bottom: 0.25rem;
        
    }
}

.main-shared{
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    background-color: $main-background-color;
    
    @include mobile {
        padding-top: 1.5rem;
        padding-bottom: 0;
    }
}

header {
    color: $color-header;
}

main {
    background-color:  $main-background-color;  
}

.shared-block-spacer {
    padding: 1.5625rem 0;
    @include mobile {
        display: none;
    }
}

.sign-up .btn{
    @include action-button;
}

.uppercase{
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.color-featured {
    color: $color-featured;
}

.color-project {
    color: $color-projects;
}

.color-education {
    color: $color-courses-education;
}

.color-event {
    color: $color-events;
}

.featured-action {
    color: $color-featured;
    border-color: $color-featured;
}

.project-action {
    color: $color-projects;
    border-color: $color-projects;
}

.education-action {
    color: $color-courses-education;
    border-color: $color-courses-education;
}

.event-action {
    color: $color-events;
    border-color: $color-events;
}
.featured-action {
    color: $color-featured;
    border-color: $color-featured;
}

.project-action {
    color: $color-projects;
    border-color: $color-projects;
}

.education-action {
    color: $color-courses-education;
    border-color: $color-courses-education;
}

.event-action {
    color: $color-events-text;
    border-color: $color-events;
}

.featured-border {
    border-color: $color-featured;
}

.project-border {
    border-color: $color-projects;
}

.education-border {
    border-color: $color-courses-education;
}

.event-border {
    border-color: $color-events;
}

.rectangle {
    width: 235px;
    height: 10px;
    background-color: $color-rectangle;
}

.featured-content {
    .rectangle {
        background-color: $color-featured;
    }
}

.js-open {
    transform: rotate(90deg);
}

// .row-wrapper {
//     @include mobile {
//         border-bottom: 1px solid;
//     }
// }


// .row-wrapper, .main-content {
//     padding: 0 !important;
// }


