.singleProject-main{
    .project-img{
        width: 100%;
    }

    .project-caption{
        padding: 1rem;
    }

    .project-figure{
        margin: 0.75rem 0;
        background-color: #eee;
    }

}