<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>404 - Bridge to Europe</title>

    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="./assets/styles/vendor/bootstrap.min.css"> -->
    <link rel="stylesheet" href="./assets/styles/commons.bundle.css">
    <link rel="stylesheet" href="./assets/styles/404.bundle.css">
    <link rel="icon" href="./favicon.ico">
</head>
<body id="error">
    <header class="app-header">
        <div class="shared-header 404-header">
            <div class="header-wrapper container">
                <div class="sticky-menu-wrapper nav-down">
                    <nav class="desktop-navigation-links container">
                        <a href="./">
                            <img id="logo-img" src="../assets/images/logos/nli-logo-desktop.png" alt="Bridge To Europe">
                        </a>
                        <ul class="navigation-list-wrapper">
                            <li class="navigation-list tablet-icon">
                                <a href="./" class="navigation-links">
                                    <img id="tablet-logo" src="../assets/images/logos/nli-logo-mobile.png" alt="Bridge To Europe">
                                </a>
                            </li>
                            <li class="navigation-list navigation-list-about"><a href="about.html" class="navigation-links">about</a></li>
                            <li class="navigation-list navigation-list-projects"><a href="projects.html" class="navigation-links">projects</a></li>
                            <li class="navigation-list navigation-list-education"><a href="coursesEducation.html" class="navigation-links">education and courses</a></li>
                            <li class="navigation-list navigation-list-events"><a href="eventsExhibitions.html" class="navigation-links">events and exhibitions</a></li>
                            <li class="navigation-list navigation-list-contact"><a href="#footer" class="navigation-links">contact us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="sticky-menu-wrapper nav-down">
                    <a href="./">
                        <img id="mobile-logo" src="../assets/images/logos/nli-logo-desktop.png" alt="Bridge To Europe">
                    </a>
                    <div class="hamburger" id="nav-icon">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="column-wrapper container">
        <div class="column">
            <h1>404</h1>
        </div>
        <div class="column">
            <h2>Sorry, looks like this page doesn’t exist</h2>
            <a class="btn shared-btn uppercase" href="./">RETURN TO HOMEPAGE </a>
            <p>And come visit us in the National Library!</p>
        </div>
    </main>

    
        <div id="mobile-menu" class="js-hide">
            <main class="mobile-menu-main">
                <nav class="mobile-navigation-links">
                    <ul class="mobile-navigation-list-wrapper">
                        <li class="mobile-navigation-list">
                            <a class="mobile-navigation-links" href="about.html">About</a>
                        </li>
                        <li class="mobile-navigation-list">
                            <a class="mobile-navigation-links" href="projects.html">Projects</a>
                        </li>
                        <li class="mobile-navigation-list">
                            <a class="mobile-navigation-links" href="coursesEducation.html">Education &amp; Courses</a>
                        </li>
                        <li class="mobile-navigation-list">
                            <a class="mobile-navigation-links" href="eventsExhibitions.html">Events &amp; Exhibitions</a>
                        </li>
                    </ul>
                </nav>
            </main>
            <footer class="mobile-footer">
                <div class="mobile-footer-wrapper">
                    <div class="social-media-cont">
                        <i class="footer-icons icon-facebook-squared"></i>
                        <i class="footer-icons icon-twitter"></i>
                        <i class="footer-icons icon-email"></i>
                    </div>
                </div>
                <div class="copyright-wrapper">
                    <p class="copyright-text">
                        &copy; 2017 Bridge to Europe. All Rights Reserved.
                    </p>
                </div>
            </footer>
        </div>
    
    <script src="assets/js/commons.js"></script>
    <script src="assets/js/404.bundle.js"></script>
</body>
</html>
