<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/commons.bundle.css">
</head>
<body>
    <section class="about-cont container">
        <div class="header-wrapper">
            <h1>About</h1>
        </div>
        <div class="main-container">
            <div class="main-wrapper">
                <div class="content-row">
                    <div class="text-wrapper">
                        <p class="explanatory-text">
                            GLE is an initiative of the Rothschild Foundation Hanadiv Europe and the National Library of Israel to create opportunities for European scholars, library and museum professionals, educators and community activists working within Jewish settings to develop an on-going, mutually beneficial relationship with the NLI and to engage with the NLI's diverse and extensive collections.

                            Gesher at a glance linking to the other pages on the site.
                            Brief description of:
                            At the Source
                            Ephemera
                            Education
                            Cultural Events
                            NLI in the Community
                        </p>
                    </div>
                    <div class="img-wrapper">
                        <img src="" alt="" class="row-img">
                    </div>
                </div>
                <div class="content-row">
                    <div class="img-wrapper">
                        <img src="" alt="" class="row-img">
                    </div>
                    <div class="text-wrapper">
                        <p class="explanatory-text">
                            GLE is an initiative of the Rothschild Foundation Hanadiv Europe and the National Library of Israel to create opportunities for European scholars, library and museum professionals, educators and community activists working within Jewish settings to develop an on-going, mutually beneficial relationship with the NLI and to engage with the NLI's diverse and extensive collections.

                            Gesher at a glance linking to the other pages on the site.
                            Brief description of:
                            At the Source
                            Ephemera
                            Education
                            Cultural Events
                            NLI in the Community
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="./assets/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="assets/js/commons.js"></script>
    <script src="assets/js/about.bundle.js"></script>
</body>
</html>