<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About - Bridge to Europe</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="icon" href="../assets/images/logo.png">
    <link rel="stylesheet" href="./assets/styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/commons.bundle.css">
    <link rel="stylesheet" href="assets/styles/about.bundle.css">
</head>
<body id="about">
    <header class="app-header">
        <div class="shared-header about-header">
            <div class="header-wrapper container">
                <a href="./">
                    <img id="logo-img" src="../assets/images/bridge-to-europe.png" alt="Bridge To Europe">
                </a>
                <nav class="desktop-navigation-links">
                    <ul class="navigation-list-wrapper">
                        <li class="navigation-list"><a href="about.html" class="navigation-links">about</a></li>
                        <li class="navigation-list"><a href="projects.html" class="navigation-links">projects</a></li>
                        <li class="navigation-list"><a href="coursesEducation.html" class="navigation-links">education and courses</a></li>
                        <li class="navigation-list"><a href="eventsExhibitions.html" class="navigation-links">events and exhibitions</a></li>
                        <li class="navigation-list"><a href="#footer" class="navigation-links">contact us</a></li>
                    </ul>
                </nav>
                <!-- <div class="rectangle"></div> -->
                <h1>About</h1>
                <div class="hamburger" id="nav-icon">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
    </header>
    <main class="about-main main-shared">
        <section class="about-cont container">
            <div class="header-wrapper">
                <h2>
                    GLE is an initiative of the Rothschild Foundation Hanadiv Europe and the National Library of Israel 
                </h2>
                <p>
                    It’s aim is to create opportunities for European scholars, library and museum professionals, educators and community activists working within Jewish settings to develop an on-going, mutually beneficial relationship with the NLI and to engage with the NLI's diverse and extensive collections.
                </p>
                <figure>
                    <img class="header-img" src="../assets/images/national-library.jpg" alt="">
                    <figcaption>At the Source, 2017</figcaption>
                </figure>
            </div>
            <div class="main-container">
                <div class="main-wrapper">
                    <p id="recent">Recent initiatives include:</p>
                    <section class="row-wrapper">
                        <h3 class="color-about">At the Source<i class="icon-right-open"></i></h3>
                        <article class="shared-block-wrapper">
                            <img class="block-img" src="../assets/images/library.jpg" alt="">
                            <div class="shared-details-wrapper">
                                <div class="shared-block-details block-details">
                                    <p>
                                        Jewish European Ephemera Collection: A window into Jewish life, bringing contemporary ephemera – printed materials with a short life-span, such as invitations, flyers, greeting cards, notices and tickets  – from Jewish communities around Europe.
                                    </p>
                                    <div class="btn-wrapper">
                                        <a class="btn shared-btn main-btn uppercase featured-action" href="">go to project</a>
                                    </div>
                                </div>
                                <div class="shared-block-footer">
                                    <div class="shared-block-footer-wrapper featured-action">
                                        <a class="color-featured" href="">view all projects</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                    <div class="shared-block-spacer"></div>
                    <section class="row-wrapper">
                        <h3 class="color-ephemera">Jewish Ephemera Collection<i class="icon-right-open"></i></h3>
                        <article class="shared-block-wrapper">
                            <img class="block-img" src="../assets/images/library.jpg" alt="">
                            <div class="shared-details-wrapper">
                                <div class="shared-block-details block-details">
                                    <p>
                                        Jewish European Ephemera Collection: A window into Jewish life, bringing contemporary ephemera – printed materials with a short life-span, such as invitations, flyers, greeting cards, notices and tickets  – from Jewish communities around Europe.
                                    </p>
                                    <div class="btn-wrapper">
                                        <a class="btn shared-btn main-btn uppercase education-action" href="">go to project</a>
                                    </div>
                                </div>
                                <div class="shared-block-footer">
                                    <div class="shared-block-footer-wrapper education-action">
                                        <a class="color-education" href="">view all courses</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                    <div class="shared-block-spacer"></div>
                    <section class="row-wrapper">
                        <h3 class="color-education">Educational Materials<i class="icon-right-open"></i></h3>
                        <article class="shared-block-wrapper">
                            <img class="block-img" src="../assets/images/library.jpg" alt="">
                            <div class="shared-details-wrapper">
                                <div class="shared-block-details block-details">
                                    <p>
                                        Jewish European Ephemera Collection: A window into Jewish life, bringing contemporary ephemera – printed materials with a short life-span, such as invitations, flyers, greeting cards, notices and tickets  – from Jewish communities around Europe.
                                    </p>
                                    <div class="btn-wrapper">
                                        <a class="btn shared-btn event-btn main-btn uppercase event-action" href="">Register</a>
                                    </div>
                                </div>
                                <div class="shared-block-footer">
                                    <div class="shared-block-footer-wrapper event-action">
                                        <a class="color-event" href="">view all events</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                    <div class="shared-block-spacer"></div>
                    <section class="row-wrapper">
                        <h3 class="color-event">Cultural Events<i class="icon-right-open"></i></h3>
                        <article class="shared-block-wrapper">
                            <img class="block-img" src="../assets/images/library.jpg" alt="">
                            <div class="shared-details-wrapper">
                                <div class="shared-block-details block-details">
                                    <p>
                                        Jewish European Ephemera Collection: A window into Jewish life, bringing contemporary ephemera – printed materials with a short life-span, such as invitations, flyers, greeting cards, notices and tickets  – from Jewish communities around Europe.
                                    </p>
                                    <div class="btn-wrapper">
                                        <a class="btn shared-btn event-btn main-btn uppercase event-action" href="">Register</a>
                                    </div>
                                </div>
                                <div class="shared-block-footer">
                                    <div class="shared-block-footer-wrapper event-action">
                                        <a class="color-event" href="">view all events</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </section>
    </main>
    <script
        src="https://code.jquery.com/jquery-1.10.2.min.js"
        integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
        crossorigin="anonymous"></script>
    <script src="./assets/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="assets/js/commons.js"></script>
    <script src="assets/js/about.bundle.js"></script>
</body>
</html>
