<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses &amp; Education - Bridge to Europe</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="icon" href="../assets/images/logo.png">
    <link rel="stylesheet" href="./assets/styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/commons.bundle.css">
    <link rel="stylesheet" href="assets/styles/coursesEducation.bundle.css">

</head>
<body id="education">

    <header class="app-header">
        <div class="shared-header coursesEducation-header">
            <div class="header-wrapper container">
                <a href="./">
                    <img id="logo-img" src="../assets/images/bridge-to-europe.png" alt="Bridge To Europe">
                </a>
                <nav class="desktop-navigation-links">
                    <ul class="navigation-list-wrapper">
                        <li class="navigation-list"><a href="about.html" class="navigation-links">about</a></li>
                        <li class="navigation-list"><a href="projects.html" class="navigation-links">projects</a></li>
                        <li class="navigation-list"><a href="coursesEducation.html" class="navigation-links">education and courses</a></li>
                        <li class="navigation-list"><a href="eventsExhibitions.html" class="navigation-links">events and exhibitions</a></li>
                        <li class="navigation-list"><a href="#footer" class="navigation-links">contact us</a></li>
                    </ul>
                </nav>
                <!-- <div class="rectangle"></div> -->
                <h1>Courses &amp;<br class="title-breaker"> Education</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias deserunt, modi eligendi animi unde laboriosam rem corrupti ipsa cupiditate ad perferendis optio repudiandae libero, laborum sint suscipit earum? Blanditiis, ea.</p>
                <div class="hamburger" id="nav-icon">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
    </header>

    <main class="coursesEducation-main main-shared">
        <div class="coursesEducation-main-wrapper container">
            <!-- <p>
                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, . Nam fermentum, nulla luctus .
            </p> -->
            <article class="shared-block-wrapper featured-content featured-border">
                <img class="block-img" src="../assets/images/library.jpg" alt="">
                <div class="shared-details-wrapper">
                    <div class="shared-block-details block-details">
                        <div class="rectangle"></div>
                        <div class="shared-block-details-mobile">
                            <h2 class="shared-heading">Paidea Program</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptatem voluptates suscipit temporibus, deleniti dolore tempora cupiditate totam hic ab molestias explicabo architecto cumque, incidunt error rem ratione eos minima!</p>
                        </div>
                        <div class="btn-wrapper">
                            <a class="uppercase btn shared-btn featured-action" href="">learn more</a>
                        </div>
                    </div>
                </div>
            </article>
            <div class="shared-block-spacer"></div>
            <article class="shared-block-wrapper education-border">
                <img class="block-img" src="../assets/images/library.jpg" alt="">
                <div class="shared-details-wrapper">
                    <div class="shared-block-details block-details">
                        <div class="rectangle"></div>
                        <div class="shared-block-details-mobile">
                            <h2 class="shared-heading">Education Website</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptatem voluptates suscipit temporibus, deleniti dolore tempora cupiditate totam hic ab molestias explicabo architecto cumque, incidunt error rem ratione eos minima!</p>
                        </div>
                        <div class="btn-wrapper">
                            <a class="uppercase btn shared-btn education-action" href="">learn more</a>
                        </div>
                    </div>
                </div>
            </article>
            <div class="shared-block-spacer"></div>
            <article class="shared-block-wrapper education-border">
                <img class="block-img" src="../assets/images/library.jpg" alt="">
                <div class="shared-details-wrapper">
                    <div class="shared-block-details block-details">
                        <div class="rectangle"></div>
                        <div class="shared-block-details-mobile">
                            <h2 class="shared-heading">Hebrew Course</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptatem voluptates suscipit temporibus, deleniti dolore tempora cupiditate totam hic ab molestias explicabo architecto cumque, incidunt error rem ratione eos minima!</p>
                        </div>
                        <div class="btn-wrapper">
                            <a class="uppercase btn shared-btn education-action" href="">learn more</a>
                        </div>
                    </div>
                </div>
            </article>
            <div class="shared-block-spacer"></div>
            <article class="shared-block-wrapper education-border">
                <img class="block-img" src="../assets/images/library.jpg" alt="">
                <div class="shared-details-wrapper">
                    <div class="shared-block-details block-details">
                        <div class="rectangle"></div>
                        <div class="shared-block-details-mobile">
                            <h2 class="shared-heading">Manuscript</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptatem voluptates suscipit temporibus, deleniti dolore tempora cupiditate totam hic ab molestias explicabo architecto cumque, incidunt error rem ratione eos minima!</p>
                        </div>
                        <div class="btn-wrapper">
                            <a class="uppercase btn shared-btn education-action" href="">learn more</a>
                        </div>
                    </div>
                </div>
            </article>
            <div class="shared-block-spacer"></div>
        </div>
    </main>
    <script
        src="https://code.jquery.com/jquery-1.10.2.min.js"
        integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
        crossorigin="anonymous">
    </script>
    <script src="./assets/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="assets/js/commons.js"></script>
    <script src="assets/js/coursesEducation.bundle.js"></script>

</body>
</html>
