<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home - Bridge to Europe</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/styles/commons.bundle.css">
    <link rel="stylesheet" href="./assets/styles/index.bundle.css">
    <link rel="icon" href="../assets/images/logo.png">
</head>
<body id="index-page">
        <!-- <img class="project-img" src="../assets/images/yoeman.png" alt=""> -->

    <header class="app-header">

            <!-- <img class="project-img" src="../assets/images/yeoman.png" alt=""> -->
        <!-- <div class="website-logo-cont">
        </div> -->
        <!-- <div class="header-center container"> -->
            <img id="logo-img" src="../assets/images/bridge-to-europe.png" alt="Bridge To Europe">
            <nav class="desktop-navigation-links container">
                <ul class="navigation-list-wrapper">
                    <li class="navigation-list"><a href="about.html" class="navigation-links">about</a></li>
                    <li class="navigation-list"><a href="projects.html" class="navigation-links">projects</a></li>
                    <li class="navigation-list"><a href="coursesEducation.html" class="navigation-links">education and courses</a></li>
                    <li class="navigation-list"><a href="eventsExhibitions.html" class="navigation-links">events and exhibitions</a></li>
                </ul>
            </nav>
            <div class="main-header container">
                <h1>Gesher Le Europe</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus similique, dolorum harum itaque animi vero repellendus nemo sunt possimus nam numquam, reiciendis, odit commodi quis optio impedit ab. Unde, doloremque.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam autem repellat atque consequatur magni possimus perspiciatis et culpa, totam ad consequuntur quisquam distinctio dolores provident eius assumenda minima hic! Ratione.</p>
                <div class="btn-wrapper">
                    <a class="btn shared-btn uppercase" href="">read more</a>
                </div>
            </div>
        <!-- </div> -->
        <!-- <div class="search-cont">
            <form action="" class="search-form">
                <div class="input-wrapper">
                    <input type="text" class="search-input" placeholder="Search">
                    <span id="input-search-icon" class="search-icon"><i class="icon-search"></i></span>
                </div>
            </form>
        </div> -->
        <!-- <div class="library-logo-cont ">
            <img width="137" src="../assets/images/library-logo.png" alt="National Library of Israel" class="library-logo">
        </div> -->
        <div class="hamburger" id="nav-icon">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
       </div>
    </header>


    <main>
        <!-- <section class="featured-content">
                <div class="row-wrapper container">
                    <div class="featured-content-header">
                        <p class="featured-content-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Porro veritatis aut enim similique soluta ad incidunt amet
                            numquam beatae modi atque libero repellat maiores, ab
                            adipisci praesentium iste fugiat dolores.
                            <a class="shared-link" href="">Read More</a>
                        </p>
                    </div>
                    <div class="featured-content-body">
                        <div class="featured-content-header-wrapper">
                            <h2 class="">Featured</h2>
                        </div>
                    </div>
                    <div class="featured-content-footer shared-block-footer">
                        <div class="featured-content-wrapper shared-block-footer-wrapper">
                            <a class="" href="">See all Projects</a>
                        </div>
                    </div>
                </div>
            </section> -->
            <section class="main-content">
                <div class="main-content-wrapper main-shared">
                    <div class="row-wrapper container">
                        <!-- <a class="shared-block-link"> -->
                            <article class="shared-block-wrapper">
                                <img class="block-img" src="" alt="">
                                <div class="shared-details-wrapper">
                                    <div class="shared-block-details block-details featured-border">
                                        <h2 class="color-featured">Projects</h2>
                                        <h3 class="shared-heading">Ephemera</h3>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptatem voluptates suscipit temporibus, deleniti dolore tempora cupiditate totam hic ab molestias explicabo architecto cumque, incidunt error rem ratione eos minima!</p>
                                        <div class="btn-wrapper">
                                            <a class="btn shared-btn uppercase featured-action" href="">go to project</a>
                                        </div>
                                        <!-- <a class="" href="">Go to Project</a> -->
                                    </div>
                                </div>
                            </article>
                        <!-- </a> -->
                        <!-- <div class="shared-block-footer">
                            <div class="shared-block-footer-wrapper">
                                <a class="" href="">More Projects</a>
                            </div>
                        </div> -->
                        <div class="shared-block-footer">
                            <div class="shared-block-footer-wrapper featured-action">
                                <a class="color-featured" href="">view all projects</a>
                            </div>
                        </div>
                    </div>
                    <div class="shared-block-spacer"></div>
                    <div class="row-wrapper container">
                        <!-- <a class="shared-block-link"> -->
                            <article class="shared-block-wrapper">
                                <img class="block-img" src="" alt="">
                                <div class="shared-details-wrapper">
                                    <div class="shared-block-details block-details education-border">
                                        <h2 class="color-education">Courses & Education</h2>
                                        <h3 class="shared-heading">Paidea Program</h3>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptatem voluptates suscipit temporibus, deleniti dolore tempora cupiditate totam hic ab molestias explicabo architecto cumque, incidunt error rem ratione eos minima!</p>
                                        <div class="btn-wrapper">
                                            <a class="btn shared-btn uppercase education-action" href="">go to project</a>
                                        </div>
                                    </div>
                                    <!-- <a class="" href="">Sign up Now!</a> -->
                                </div>
                            </article>
                            <!-- <article class="shared-block-wrapper">
                                <img class="block-img" src="" alt="">
                            <div class="shared-block-details block-details">
                                <h2 class="">Projects</h2>
                                <h3 class="shared-heading">Event No1</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptatem voluptates suscipit temporibus, deleniti dolore tempora cupiditate totam hic ab molestias explicabo architecto cumque, incidunt error rem ratione eos minima!</p>
                                <strong>Thursday,
                                    <time class="date">15 June 2015</time>
                                    <time class="hour">6:30–8:30 pm</time>
                                </strong>
                                <div class="btn-wrapper">
                                    <a class="btn shared-btn uppercase" href="">Register</a>
                                </div>
                            </div>
                        </article> -->
                    <!-- </a> -->
                    <div class="shared-block-footer">
                        <div class="shared-block-footer-wrapper education-action">
                            <a class="color-education" href="">view all projects</a>
                        </div>
                    </div>
                </div>
                <div class="shared-block-spacer"></div>
                <div class="row-wrapper container">
                    <!-- <a class="shared-block-link past-event"> -->
                        <article class="shared-block-wrapper">
                            <img class="block-img" src="" alt="">
                            <div class="shared-details-wrapper">
                                <div class="shared-block-details block-details event-border">
                                    <h2 class="color-event">Events & Exhibitions</h2>
                                    <h3 class="shared-heading">Event No-3</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptatem voluptates suscipit temporibus, deleniti dolore tempora cupiditate totam hic ab molestias explicabo architecto cumque, incidunt error rem ratione eos minima!</p>
                                    <strong>Thursday,
                                        <time class="date">15 June 2015</time>
                                        <br>
                                        <time class="hour">6:30–8:30 pm</time>
                                    </strong>
                                    <div class="btn-wrapper">
                                        <a class="btn shared-btn uppercase event-action" href="">Register</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    <!-- </a> -->
                    <div class="shared-block-footer">
                        <div class="shared-block-footer-wrapper event-action">
                            <a class="color-event" href="">view all events</a>
                        </div>
                    </div>
                </div>
                <div class="shared-block-spacer"></div>
            </div>
        </section>
    </main>


    <footer class="app-footer">
        <div class="footer-wrapper">
            <div class="social-media-cont">
                <i class="footer-icons icon-facebook-squared"></i>
                <i class="footer-icons icon-twitter"></i>
                <i class="footer-icons icon-email"></i>
            </div>
            <div class="copyright-wrapper">
                <p class="copyright-text">
                    &copy; 2017 Bridge to Europe. All Rights Reserved.
                </p>
            </div>
        </div>
    </footer>


    <!-- <div id="mobile-menu">
        <header class="mobile-menu-header">
            <img src="../assets/images/logo.png" alt="National Library of Israel" id="mobile-logo">
            <div class="hamburger is-active" id="nav-icon">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </header>
        <main class="mobile-menu-main">
            <nav class="mobile-navigation-links">
                <ul class="mobile-navigation-list-wrapper">
                    <li class="mobile-navigation-list">
                        <a class="mobile-navigation-links" href="about.html">About</a>
                    </li>
                    <li class="mobile-navigation-list">
                        <a class="mobile-navigation-links" href="projects.html">Projects</a>
                    </li>
                    <li class="mobile-navigation-list">
                        <a class="mobile-navigation-links" href="coursesEducation.html">Education &amp; Courses</a>
                    </li>
                    <li class="mobile-navigation-list">
                        <a class="mobile-navigation-links" href="eventsExhibitions.html">Events &amp; Exhibitions</a>
                    </li>
                </ul>
            </nav>
        </main>
        <footer class="mobile-footer">
            <div class="mobile-footer-wrapper">
                <div class="social-media-cont">
                    <i class="footer-icons icon-facebook-squared"></i>
                    <i class="footer-icons icon-twitter"></i>
                    <i class="footer-icons icon-email"></i>
                </div>
            </div>
        </footer>
    </div> -->

    <script
        src="https://code.jquery.com/jquery-1.10.2.min.js"
        integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
        crossorigin="anonymous">
    </script>
    <script src="./assets/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="assets/js/commons.js"></script>
    <script src="assets/js/index.bundle.js"></script>
</body>
</html>
