<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event - Bridge to Europe</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="icon" href="../assets/images/logo.png">
    <link rel="stylesheet" href="./assets/styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/commons.bundle.css">
    <link rel="stylesheet" href="assets/styles/singleEvent.bundle.css">
</head>
<body id="single-event">
    <header class="app-header">
        <div class="shared-header singleEvent-header">
            <div class="header-wrapper container">
                <a href="./">
                    <img id="logo-img" src="../assets/images/bridge-to-europe.png" alt="Bridge To Europe">
                </a>
                <nav class="desktop-navigation-links">
                    <ul class="navigation-list-wrapper">
                        <li class="navigation-list"><a href="about.html" class="navigation-links">about</a></li>
                        <li class="navigation-list"><a href="projects.html" class="navigation-links">projects</a></li>
                        <li class="navigation-list"><a href="coursesEducation.html" class="navigation-links">education and courses</a></li>
                        <li class="navigation-list"><a href="eventsExhibitions.html" class="navigation-links">events and exhibitions</a></li>
                        <li class="navigation-list"><a href="#footer" class="navigation-links">contact us</a></li>
                    </ul>
                </nav>
                <!-- <div class="rectangle"></div> -->
                <h1>Poland <br class="title-breaker"> Event</h1>
                <div class="hamburger" id="nav-icon">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
    </header>
    <main class="singleEvent-main main-shared">
        <div class="singleEvent-main-wrapper container main-shared">
            <section class="event-description">
                <h2>Description</h2>
                <section class="event-description-row">
                    <h3>Jksdvl</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                </section>
                <section class="event-description-row">
                    <h3>Jksdvl</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                </section>
                <section class="event-description-row">
                    <h3>Jksdvl</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                </section>
                <!-- <div class="calender-icons-container">
                    <div class="add-to-calender-wrapper">
                        <i class="icon-calendar"></i>
                        <a href="">Add to Calender</a>
                    </div> -->
                    <!-- <div class="social-media-wrapper">
                        <i class="icon-facebook"></i>
                        <i class="icon-twitter"></i>
                        <i class="icon-mail"></i>
                        <i class="icon-whatsapp"></i>
                    </div> -->
                <!-- </div> -->
            </section>
            <article class="event-register">
                <div class="event-register-wrapper">
                    <h3><i class=""></i> When?</h3>
                    <div class="explanatory-text">
                        <strong>
                                Thursday, <time>15 June 2017</time><br>
                                <time>6:30–8:30 pm</time>
                        </strong>
                    </div>
                    <h3><i class=""></i> Where?</h3>
                    <div class="explanatory-text">
                        <address>
                                Museum of Arts and Design<br>
                                2 Columbus Circle<br>
                                Venice, Italy<br>
                        </address>
                    </div>
                    <h3><i class=""></i> Timable</h3>
                    <div class="explanatory-text">
                        <div class="timable-section">
                            <time>6:30 - 7:00PM</time> - Check-in begins<br>
                        </div>
                        <div class="timable-section">
                            <time>7:00 - 8:30PM</time>: Presentations &amp; panel discussion
                        </div>
                    </div>
                    <a class="btn event-btn shared-btn uppercase" href="">Go to Event</a>
                    <!-- <div class="calender-icons-container">
                        <div class="add-to-calender-wrapper">
                            <a href="">Add to Calender</a>
                        </div> -->
                        <!-- <div class="social-media-wrapper">
                            <i class="icon-facebook"></i>
                            <i class="icon-twitter"></i>
                            <i class="icon-mail"></i>
                            <i class="icon-whatsapp"></i>
                        </div> -->
                    <!-- </div> -->
                </div>
            </article>
        </div>
    </main>
    <script
    src="https://code.jquery.com/jquery-1.10.2.min.js"
    integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
    crossorigin="anonymous"></script>
    <script src="./assets/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="assets/js/commons.js"></script>
    <script src="assets/js/singleEvent.bundle.js"></script>
</body>
</html>
