<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/commons.bundle.css">

</head>
<body>

    <header class="shared-header singleEvent-header">
        <div class="header-wrapper container">
            <h1>Poland Event PEvent Eve Poland di PEvent</h1>
        </div>
    </header>
    <main class="singleEvent-main">
        <div class="singleEvent-main-wrapper container">
            <article class="event-register">
                <strong>
                        Thursday, <time>15 June 2017</time><br>
                        <time>6:30–8:30 pm</time>
                </strong>
                <address>
                        Museum of Arts and Design<br>
                        2 Columbus Circle<br>
                        Venice, Italy<br>
                </address>
                <p>
                    <time>6:30 - 7:00PM</time> - Check-in begins<br>
                    <time>7:00 - 8:30PM</time>: Presentations &amp; panel discussion
                </p>
                <strong>
                    Students: <span>&#36;</span>5<br>
                    Senior / Nonmember: <span>&#36;</span>15
                </strong>
                <a href="" class="btn shared-btn">Register</a>
                <footer>
                    <div class="add-to-calender-wrapper">
                        <a href="">Add to Calender</a>
                    </div>
                    <div class="social-media-wrapper">
                        
                    </div>
                </footer>
            </article>
            <section class="event-description">
                <h2>Description</h2>
                <h3>Jksdvl</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                <h3>Jksdvl</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                <h3>Jksdvl</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
            </section>
        </div>
    </main>
    

    <script src="./assets/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="assets/js/commons.js"></script>
    <script src="assets/js/singleEvent.bundle.js"></script>
    
</body>
</html>