<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="icon" type="image/png" href="../assets/images/logo.png">
    <!-- <link rel="stylesheet" href="./assets/styles/vendor/bootstrap.min.css"> -->
    <link rel="stylesheet" href="assets/styles/commons.bundle.css">
    <link rel="stylesheet" href="assets/styles/singleCourse.bundle.css">

</head>
<body id="single-course">
    <header class="app-header">
        <div class="shared-header singleCourse-header">
            <div class="header-wrapper container">
                <a href="./">
                    <img id="logo-img" src="../assets/images/logos/nli-logo-desktop.png" alt="Bridge To Europe">
                </a>
                <nav class="desktop-navigation-links">
                    <ul class="navigation-list-wrapper">
                        <li class="navigation-list"><a href="about.html" class="navigation-links">about</a></li>
                        <li class="navigation-list"><a href="projects.html" class="navigation-links">projects</a></li>
                        <li class="navigation-list"><a href="coursesEducation.html" class="navigation-links">education and courses</a></li>
                        <li class="navigation-list"><a href="eventsExhibitions.html" class="navigation-links">events and exhibitions</a></li>
                        <li class="navigation-list"><a href="#footer" class="navigation-links">contact us</a></li>
                    </ul>
                </nav>
                <!-- <div class="rectangle"></div> -->
                <h1>Paidea <br class="title-breaker"> Program</h1>
                <div class="hamburger" id="nav-icon">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
    </header>

    <main class="singleCourse-main main-shared ">
        <div class="singleCourse-main-wrapper custom-container">
            <section class="program-description">
                <!-- <div class="rectangle"></div> -->
                <div class="program-description-text">
                    <h2>The One-Year Jewish Studies Program</h2>
                    <p>At the heart of Paideia is the One Year Jewish Studies Program, dedicated to the study and interdisciplinary interpretation of the textual sources that have served as the wellsprings of Jewish civilization. The program offers a combination of traditional textual study methodology (hevruta), an academic and critical approach to interpretation, and an applied dimension answering to contemporary needs, making it a unique program in Jewish studies.</p>
                </div>
                <div class="program-featured-wrapper">
                    <div class="program-featured-title-wrapper">
                        <div class="shared-block-spacer"></div>
                        <h3 class="color-featured">Program features:</h3>
                        <div class="program-features-wrapper">
                            <ul class="bold">
                                <li>this is a list</li>
                                <li>this is a list</li>
                                <li>this is a list</li>
                                <li>this is a list</li>
                                <li>this is a list</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <p>
                    Studies are conducted five days a week, seven hours per day, under the instruction of world-renowned faculty. The language of instruction is English.
                </p> -->
                <div class="section-info-wrapper">
                    <div class="shared-block-spacer"></div>
                    <div class="section-info-title-wrapper">
                        <h3 class="section-info-title">
                            <span>Jksdvl Jksdvl Jksdvl</span>
                        </h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                    <img class="single-course-img" src="../assets/images/library.jpg" alt="">
                </div>
                <div class="section-info-wrapper">
                    <div class="shared-block-spacer"></div>
                    <div class="section-info-title-wrapper">
                        <h3 class="section-info-title"><span>Jksdvl</span></h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                    <img class="single-course-img" src="../assets/images/library.jpg" alt="">
                </div>
                <div class="section-info-wrapper">
                    <div class="shared-block-spacer"></div>
                    <div class="section-info-title-wrapper">
                        <h3 class="section-info-title"><span>Jksdvl</span></h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                    <img class="single-course-img" src="../assets/images/library.jpg" alt="">
                </div>
            </section>
            <!-- <section class="sign-up">
                <div class="sign-up-wrapper">
                    <h2>Sign Up</h2>
                    <div class="form-wrapper">
                        <div class="form-input-wrapper">
                            <input type="text" name="" id="" placeholder="full name">
                            <input type="email" name="" id="" placeholder="email address">
                            <input type="submit" class="btn shared-btn" value="apply now">
                        </div>
                    </div>
                </div>
            </section> -->
        </div>
    </main>

    <script
    src="https://code.jquery.com/jquery-1.10.2.min.js"
    integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
    crossorigin="anonymous"></script>

    <script src="./assets/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="assets/js/commons.js"></script>
    <script src="assets/js/singleCourse.bundle.js"></script>

</body>
</html>
