<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/commons.bundle.css">
</head>
<body>

    <header class="shared-header singleProject-header">
        <div class="header-wrapper container">
            <h1>Ephemera Collection</h1>
        </div>
    </header>

    <main class="singleProject-main">
        <div class="singleProject-main-wrapper container">
            <section class="description">
                <header>
                    <h2>Description</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto nam ex asperiores ab, quas praesentium amet, provident ipsa laboriosam officiis odit veniam exercitationem repudiandae, ea natus facilis fuga perferendis rerum.</p>
                </header>
                <div class="main-content">
                    <div class="singleProject-main-content-wrapper">
                        <figure class="project-figure">
                            <img class="project-img" src="../assets/images/yeoman.png" alt="">
                            <figcaption class="project-caption">
                                Info about PICTURE - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
                            </figcaption>
                        </figure>
                        <figure class="project-figure">
                            <img class="project-img" src="../assets/images/yeoman.png" alt="">
                            <figcaption class="project-caption">
                                Info about PICTURE - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
                            </figcaption>
                        </figure>
                        <figure class="project-figure">
                            <img class="project-img" src="../assets/images/yeoman.png" alt="">
                            <figcaption class="project-caption">
                                Info about PICTURE - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <footer class="social-media">
                    <div class="social-media-wrapper">

                    </div>
                </footer>
            </section>
        </div>
    </main>

    <script src="./assets/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="assets/js/commons.js"></script>
    <script src="assets/js/singleProject.bundle.js"></script>
    
</body>
</html>