.app-header{

    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0;

    .row{
        margin: 0;
    }

    .navigation-list-wrapper{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .library-logo-cont{
        text-align: right;
    }



}

.input-wrapper{
    position: relative;
}

#input-search-icon{
    position: absolute;
    top: 0px;
    right: -20px;
    font-size: 20px;
}

[class^="col-xs-"]{
    padding: 0;
    margin: 0;
}

.main-content-wrapper{
    background-color: #EEEEEE;
}

@media (max-width: 768px) {
  .header-center{
    display: none;
  }


}

@media (max-width: 1200px) {
  .website-logo-cont{
    padding: 0;
  }

  .library-logo-cont{
    display: none;
  }
}

