.shared-header{
    height: 300px;
    background-color: red;
    display: flex;
    padding-bottom: 2.5rem;

    h1{
        @include header
    }
}

.shared-block-wrapper{
    margin: 1rem  0;
}

.shared-heading{
    margin-top: 0;
}

.block-img{
    display:block;
    background-color: lightblue;
    width: 60%;
}

.shared-block-details{
    margin: 1.25rem;
    width: 40%;
}

.shared-block-wrapper{
    display: flex;
}

.shared-block-footer-wrapper{
    text-align: right;
    padding: 1rem;
}

.shared-btn{
    width: 100%;
    color: white;
    background-color: #169BD5;
    margin-top: 1rem;
}

.past-event .event-btn{
    display: none;
}


@media (max-width: 768px) {

    .shared-block-wrapper{
      display: flex;
      flex-direction: column;
    }

    .block-img{
      width: 100%;
      height: 200px;
    }

    .shared-block-details{
      margin: 0;
      padding-top: 1.25rem;
      width: 100%;
    }


}

