@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

#error {

    height: 100vh !important;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../../assets/images/404.jpg') no-repeat center center;
    background-size: cover;


    header {
        height: auto;
        background: initial;
        padding: 0;
    }

    .shared-header {
        @extend header;
    }

    h1 {
        font-size: 7.5rem;
        font-weight: 800;
        line-height: 10.1875rem;
        color: $color-featured;
        margin: 0 3.4375rem 0 0;

        @include mobile {
            font-size: 3.75rem;
            font-weight: 800;
            line-height: 3.75rem;
        }
    }
    
    h2 {

        font-family: 'OpenSansHebrew';
        font-size: 3.75rem;
        font-weight: 300;
        line-height: 4.125rem;
        margin-top: 2rem;

        @include mobile {
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.875rem;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 2.25rem;

        @include mobile {
            font-size: 1.125rem;
            line-height: 1.5rem;
        }
    }
    
    .column-wrapper {
        display: flex;
        margin-top: 10rem;
        
        @include mobile {
            flex-direction: column;
            margin-top: 6.25rem;
        }
    }

    main {
        color: white;
        background-color: transparent;

        @include mobile {
            padding: 6.25rem 1.875rem 0 1.875rem !important;
        }
    }

    .btn {
        color: white;
        background: linear-gradient(0deg, #C67E00 0%, #905B00 100%);
        margin-top: 2.5rem;
        margin-bottom: 3.125rem;
        
        @include mobile {
            margin-top: 3.125rem;
            margin-bottom: 2.5rem;
            
        }
    }
}

