@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

#about {

    h2, h3 {
        font-size: 1.875rem;
        font-weight: 800;
        line-height: 30px;
        margin-bottom: 1rem;
    }

    p {
        line-height: 27px;
    }

    .block-img {
        height: 109px;
        width: 108px;
    }

    .shared-block-details {
        border: none;
        margin-left: 2.1875rem;
    }


    #recent {
        margin-bottom: 1.5rem;
        margin-top: 3.125rem;
        line-height: 25px;
    }

    .header-img {
        width: 100%;
        height: 385px;
    }

    figcaption {
        font-size: 0.8125rem;
        line-height: 18px;
        margin-top: 1.25rem;
    }

    .shared-btn {
        @include desktop {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }

    .about-header {
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('~/dist/assets/images/about.jpg') no-repeat center center;
        background-size: cover;
    }

    figure {
        margin-top: 1.875rem;
    }
}