@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

#about {

    h1 {
        line-height: 3.375rem;

        @include mobile {
            @include default-title;
            line-height: 1.875rem;
            // margin-top: 0;
            margin-top: 4.375rem;
        }
    }

    h2 {
        font-size: 1.875rem;
        font-weight: 800;
        line-height: 1.875rem;
        margin-bottom: 1rem;
    }

    h3 {
        @extend h2;
        display: flex;
        align-items: center;
        @include mobile {
            color: black;
        }

        .icon-link {

            color: inherit;
            transition: all 0.2s;

            &:hover {
                transform: translate(5px, 0);
                transition: all 0.2s;
            }

            .icon-arrow-thin {
                font-size: 18px;
        
                @include mobile {
                    display: none;
                }
            }
            
        }
    }

    .figcaption-text {
        text-decoration: underline;
    }
    .color-about {
        color: #264060 !important;
    }

    p {
        line-height: 1.6875rem;
    }

    #recent {
        margin-bottom: 1.5rem;
        margin-top: 3.125rem;
        line-height: 1.5625rem;

        @include mobile {
            padding-left: 1rem; 
        }
    }

    .header-img {
        width: 100%;
        height: 385px;
        
        @include mobile {
            height: 290px;
        }
    }

    .main-shared {
        @include mobile {
            padding-bottom: 1.25rem;
            margin-bottom: 1.25rem;
            border-bottom: 1px solid rgba(115, 115, 115, 0.3);
        }
    }
    
    .header-wrapper {
        @include mobile {
            padding: 0 1rem; 
        }
    }

    figcaption {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        margin-top: 0.625rem;

        @include mobile {
            text-align: center;
        }
    }

    .shared-btn {
        @include desktop {
            display: none;
        }

        @include tablet {
            display: none;
        }

        @include mobile {
            margin-top: 1.875rem;
        }
    }

    .about-header {
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../../assets/images/about.jpg') no-repeat center center;
        background-size: cover;
    }

    figure {
        margin-top: 1.875rem;
    }

    .row-wrapper {
        @include mobile {
            border-left: 3px solid;
            padding: 0 1rem;
            margin-bottom: 3.125rem;

        }

        &:last-child {

            @include mobile {
                margin-bottom: 0;
            }
        }
    }

    .shared-details-wrapper {

        @include mobile {
            border: none;
            padding: 0;
            margin: 0;
        }
    }
    
    

    .btn-wrapper {
        @include mobile {
            width: 93%;
            margin: 0 auto;
        }
    }

    .shared-block-wrapper {

        display: block;

        @include mobile {
            display: flex;
            flex-direction: column-reverse;
        }

        .block-img {
            height: 109px;
            width: 108px;
            margin-right: 1rem;
            margin-bottom: 1rem;
            float: left;
            
            @include mobile {
                height: 280px;
                width: 100%;
                padding: 0;
                margin-top: 1rem;
                margin-right: 0;
                margin-bottom: 0;
                float: none;
            }
        }

        .shared-block-details {
            display: block;
            border: none;
            // margin-left: 2.1875rem;
            margin: 0;
    
            @include mobile {
                display: flex;
            }
        }
    }

    .event-btn {
        background: transparent;
        color: $color-events !important;
    }
     
}
