@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

#education {

    h1 {
        @include main-title;
        color: $color-courses-education;
    }

    h2 {
        @include default-title;
        margin-bottom: 1rem;
     }

    .coursesEducation-header {
        background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../../assets/images/old-man.jpg') no-repeat center center;
        background-size: cover;
    }

    .featured-content {
        .rectangle {
            width: 50px !important;
            border: 5px solid $color-featured !important;
        }
    }

    .shared-block-wrapper {
        .rectangle {
            width: 150px;
            border: 5px solid $color-education-content;
        }

        @include mobile {
            border-left: 3px solid;
            margin-bottom: 3.125rem;
        }
    }

    .block-img {
        @include mobile {
            padding: 0;
            padding-top: 1.5rem;
        }
    }

    .shared-btn {
    
        @include mobile {
            width: 93%;
            padding: 0;
            margin: 0 auto;
            margin-top: 1.875rem;
        }
    }

    .shared-details-wrapper {
        
        @include mobile {
            width: 100%;
            padding: 1.25rem;
            margin: 0;
            border: none;
            padding: 0 1.25rem;
        }
    }

    .mobile-img {
        display: none;

        @include mobile {
            display: block;
        }
    }
    
    .desktop-img {

        @include mobile {
            display: none;
        }
    }

    .main-shared {
        padding-bottom: 0;
    }

    .desktop-content {

        @include mobile {
            display: none;
        }
    }

    .mobile-content {
        display: none;

        @include mobile {
            display: block;
        }
    }

    .desktop-featured-content-wrapper {
        height: 368px;
        background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85) ), url('~/dist/assets/images/old-man.jpg') no-repeat center center;
        background-size: cover;
        color: #ffffff;
        padding: 3.125rem 6.25rem;
        
        .btn {
            color: inherit;
            background-color: transparent;
            border: 1px solid #FFFFFF;
        }
        
        .desktop-featured-content {
            @include featured-content-desktop;
            width: 70%;

            .btn {
                &:hover {
                    background-color: $color-btn-hover-text;
                    color: $color-featured;
                }
            }

        }
    }


}

