@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

.coursesEducation-main-wrapper{

    background-color: $main-background-color;

    p{
        margin: 2.75rem 0;    
    }

    h2, h3 {
        margin-top: 1.25rem;
    }

    .shared-block-details i {
        margin-left: 1.75rem;
        font-size: 25px;
    }

    .shared-block-details i::before { 
        margin: 0;
    }

    .shared-block-details a {
        color: black;
    }

    // @include mobile{
    //     p{
    //         margin: 1rem 0;
    //     }
    // }

}
