@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

.coursesEducation-main-wrapper{

    p{
        margin: 2rem 0;    
    }

    @include mobile{
        p{
            margin: 1rem 0;
        }
    }

}
