@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

#events {

    @include footer-headers;

    h1 {
        @include main-title;
        color: $color-events;
    }

    main {

        h3 {
            font-size: 1.875rem;
            font-weight: 800;
            line-height: 41px;
        }

    }

    .shared-heading {
        color: $color-events;

        @include mobile {
            font-size: 1.3125rem;
            font-weight: 800;
            line-height: 28px;
            margin: 1.25rem 0;
        }
    }

    // .app-header, .shared-header {
    //     @include mobile { 
    //         height: 16.5625rem;
    //     }
    // }
    
    .event-header {
        color: #B3B3B3;
        font-size: 3.5rem;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 38px;
        padding-top: 7.1875rem;
        margin-bottom: 3.125rem;
        font-family: 'OpenSans-Light';

        @include mobile {
            color: #737373;
            font-size: 1.5rem !important;
            font-weight: 300;
            letter-spacing: -1px;
            line-height: 38px;
            padding: 0.5rem 1rem;
            margin: 0; 
        }
    }

    strong {
        font-size: 1.875rem;
        font-weight: 800;
        line-height: 30px;
        margin: 0.9375rem 0;
        font-family: 'OpenSansHebrew-ExtraBold';

        @include mobile {
            margin-top: 0;
            line-height: 36px;
        }
    }

    .view-all {
        @include mobile {
            width: 100%;
            font-size: 0.9375rem;
            font-weight: 800;
            line-height: 20px;
            margin-top: 1rem;
            height: 3.125rem;
            padding: 1rem;
            text-align: center;
            border: 1px solid $color-events;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(180deg, #dd5019, #ff6300);
            color: #fff !important;
            // margin-bottom: 3.125rem;
        }
    }
    
    .eventsExhibitions-header {
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../../assets/images/events.jpg') no-repeat center center;
        background-size: cover;
        @include header-layout;
    }

    .eventsExhibitions-past-events-wrapper {
        background-color: $color-past-events-bkg;

        // @include mobile {
        //     display: none;
        // }
        
        .shared-block-wrapper {
            background-color: $color-past-events-bkg;
        }
    }
    .eventsExhibitions-main {

        .footer-wrapper {
            text-align: right;
            margin-top: 1.5rem;
            
            @include mobile {
                padding: 0 1.25rem;
            }

            a {
                color: $color-events;
            }
        }

    }

    .exhibition-kit {

        
        @include featured-content-desktop;
    }

    .exhibition-kit-wrapper {
        height: 370px;
        // opacity: 0.85;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%),
            linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%),
            linear-gradient(0deg, rgba(4, 0, 255, 0.5) 0%, rgba(0, 102, 255, 0.9) 100%),
            url('~/dist/assets/images/events.jpg') no-repeat center center;
        color: white;
        padding: 3.75rem;

        @include mobile {
            padding: 3.75rem 1.875rem;
            // display: none;
        }

        h2 {
            @include default-title;
            // font-family: 'OpenSansHebrew';
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'OpenSansHebrew-ExtraBold';
            background-color: $color-projects;
            border-radius: 10px;
            font-size: 0.9375rem;
            font-weight: 800;
            line-height: 20px;
            height: 2.75rem;
            width: 63%;
            color: white;

            &:hover {
                background-color: transparent;
                color: $color-projects;
                border: 1px solid $color-projects;
            }

            @include mobile {
                color: $color-projects;
                border-color: $color-projects;
                background-color: transparent;
                width: 100%;
            }
        }
    }

    .event-btn {

        @include mobile {
            color: $color-events !important;
            background: white;
            border-color: $color-events;
            height: 2.8125rem;
        }

        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    .shared-details-wrapper {
        
        @include mobile {
            width: 100%;
            padding: 1.25rem;
            // border-bottom: 2px solid rgba(0,0,0,.1);
            margin: 0;
            border: none;
            padding: 0 1.25rem;
            // border-bottom: 2px solid rgba(0,0,0,.1);
            // margin-bottom: 0.25rem;
            
        }
    }

    .shared-block-wrapper {
        @include mobile {
            border-left: 3px solid;
            margin-bottom: 3.125rem;
        }
    }

    .shared-btn {
    
        @include mobile {
            width: 93%;
            padding: 0;
            margin: 0 auto;
            margin-top: 1.875rem;
        }
    }

    
    .eventsExhibitions-main {
        padding-bottom: 0;
    }

    .expand-footer-container {
        @include mobile {
            padding-bottom: 3.125rem;
        }
    }

    .go-to-event-link {
        &:hover {
            text-decoration: none !important;
        }
    }
}

