@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

.shared-block-footer-wrapper{
  
  @include mobile{
    
    padding: 0;
  }
}

#index-page {

  .title-breaker {
    @include mobile {
      display: none;
    }
  }

  .icon-right-open{
    font-size: 18px;

    @include mobile {
      display: none;
    }
  }

  [class^="icon-"]:hover{
    cursor: initial;
  }

  h1 {
    font-size: 3.625rem;
    margin-bottom: 0;
    font-weight: 800;
    line-height: 79px;

    @include mobile {
      font-size: 3.1875rem;
      line-height: 44px;
      margin-top: 0;

      .title-dash {
        display: none;
      }
    }
  }
  
  h2 {
    font-size: 2.1875rem;
    margin: 1.25rem 0;
    line-height: 42px;

    @include mobile {
      font-size: 26px;
      line-height: 1.625rem;
      
    }
  }

  h3 {
    font-style: italic;
    padding: 1.25rem 0;
    font-family: 'CrimsonText-SemiBoldItalic';
    // font-weight: 600;
    line-height: 41px;
    font-size: 1.875rem;

    @include mobile {
      font-size: 1.25rem;
      line-height: 25px;
      padding-bottom: 0;
    }
  }
  
  h4{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1.25rem;
    font-weight: 800;
    line-height: 54px;
  
    @include mobile {
      padding-bottom: 1.25rem;
      font-size: 1.875rem;
      line-height: 36px;
    }
  }

  .header-text {
    font-size: 1.1875rem;
    line-height: 27px;
    
    @include mobile {
      font-size: 1.0625rem;
    }
  }

  .shared-btn {

    height: 2.625rem;
    display: flex;
    justify-content: center;
    align-items: center; 

    
  }

  .desktop-navigation-links {
    margin-bottom: 2.5rem;
  }


  // .header-btn {

  //   @include tablet {
  //     display: none;
  //   }

  //   @include desktop {
  //     display: none;
  //   }

  // }

  .main-btn {
    width: 50%;

    @include mobile {
      width: 100%;
    }
  }

  .event-btn {
    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    } 
  }

  .btn-wrapper {
    margin-top: auto;
    padding-bottom: 1.875rem;
  }



  .app-header {
    background-image: url('~/dist/assets/images/main-header.jpg');
    align-items: center;
    padding: 1.25rem 0 5rem 0;
    margin: 0;

    @include mobile {
      padding: 4.0625rem 1.875rem 5rem 1.875rem;
    }
  }
  
}

#logo-img, .desktop-navigation-links {
  @include mobile {
    display: none;
  }
}

.main-header {
  .btn {
    color: $color-header;
    border-color: $color-header;
  }
}

.event-time {
  font-size: 1.3125rem;
  // margin-top: 5.625rem;
  display: block;

  @include mobile {
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 36px;
  }
}
