@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

#projects {

    h1 {
        @include main-title;
        color: $color-projects;
    }

    h2 {
       @include default-title;

       @include mobile {
           padding-bottom: 1.5rem;
       }
    }

    // .header-wrapper {
    // .projects-header, .app-header {
    //     @include mobile {
    //         height: 16.5625rem;
    //     }
    // }

    // }

    .rectangle {
        // height: 10px;
        width: 47px;
        border: 5px solid $color-featured;
        
    }

    .projects-header {
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('~/dist/assets/images/projects.jpg') no-repeat center center;
        background-size: cover;
    }

    .projects-main{
        background-color: $main-background-color;

        // p {
        //     line-height: 25px;
        // }
    }

    .shared-block-wrapper {
        @include mobile {
            border-left: 3px solid;
        }
    }

    .shared-details-wrapper {
        @include mobile {
            border: none;
            padding-top: 1.5rem;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    
    .shared-block-container {
        @include mobile {
            margin-bottom: 1rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid rgba(150, 117, 59, 0.3);
        }
    }

    .main-shared {

        @include mobile {
            padding-top: 1.5rem;
            padding-bottom: 0;
        }

    }

    .btn-wrapper {
        @include mobile {
            width: 93%;
            margin: 0 auto;
            margin-top: 4.0625rem;
        }
    }

    .shared-btn {
        @include mobile {
            margin-top: 0;
        }
    }    
    // .projects-main-wrapper{
    // 	// line-height: 25px;
    //     // p {
    //     //     margin: 2rem 0;    
    //     //     @include mobile{
    //     //         margin: 1rem 0;    
    //     //     }
    //     // }
    // }
    
}
