@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

.projects-main{
    background-color: $main-background-color;
}

.projects-main-wrapper{

    p{
        margin: 2rem 0;    
        
        @include mobile{
            margin: 1rem 0;    
        }

    }
}

.projects-header {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('~/dist/assets/images/projects.jpg') no-repeat center center;
    background-size: cover;
}