@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

#single-event {

    @include footer-headers;

    h1 {
        color: $color-events;
        @include main-title;
        
        @include mobile {
            font-size: 1.875rem;
        }
    }

    main {
        
        h2 {
            margin-bottom: 2rem;
            @include default-title;
            
            @include mobile {
                margin-bottom: 1.875rem;
            }
        }
    }

    p {
        margin: 0;
    }

    .main-shared {

       @include tablet {
            padding-right: 1rem;
            padding-left: 1rem;
       }

        @include mobile {
            padding: 0;
        }


    }

    .event-description-row {
        margin-bottom: 2rem;
    }

    .singleEvent-header{
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('~/dist/assets/images/single-event.jpg') no-repeat center center;
        background-size: cover;
    }

    .singleEvent-main-wrapper{
        display: flex;
        align-items: flex-start;
        // padding: 1.25rem 0;
    
        @include mobile {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    
        .event-register{
            border-radius: 15px;
            width:60%;
            margin-left: 6.875rem;
            padding: 1.25rem;
            padding-top: 1.875rem;
            background-color: $color-past-events-bkg;

            h3 {
                font-family: 'OpenSansHebrew';
                font-size: 1.5rem;
                color: $color-events;
                line-height: 38px;
            }

            i {
                font-size: 26px;

                &::before {
                    margin-left: 0;
                }

                &:hover {
                    cursor: initial;
                }
            }

            .event-btn {
                width: 100%;

                &:hover {
                    color: $color-events !important;
                    border: 1px solid $color-events;
                    background: transparent; 
                }

                &:active {
                    background-image: linear-gradient(180deg,#dd5019,#ff6300);
                    // background-image: inherit;
                }
            }

            .explanatory-text {
                font-size: 1.125rem;
                font-weight: 600;
                line-height: 27px;
                margin-bottom: 5rem;
                
                @include mobile {
                    margin-bottom: 2.5rem;
                }
            }

            .timable-section {
                margin-bottom: 2rem;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
    
            
            @include mobile{
                width: 100% !important;
                border: none !important;
                margin: 0 !important;
                padding-bottom: 5rem;
            }
    
        }
        
        .event-description{
            width: 100% !important;
            border: none !important;
            width:57%;

            h3 {
                font-size: 1rem;
                font-weight: bold;
            }
    
            @include mobile{
                width: 100% !important;
                border: none !important;
                padding: 1.875rem 1.25rem 0 1.25rem;
            }
        }
    }
    
    .event-container {
        width: 935px;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        
        @include tablet {
            width: 100%;
        }

        @include mobile {
            width: 100%;
        }
    }
}

