@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

#single-project {

    h1 {
        @include main-title;
        color: $color-projects;
    }

    h2 {
        @include default-title;
    }

    h3 {
        color: $color-featured;
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 1rem;

        .year {
            font-weight: 300;
            font-family: 'OpenSansHebrew' !important;
        }

        @include mobile {
            font-size: 1.3125rem;
            font-weight: 300;
            line-height: 28px;
            padding: 0 1.25rem;
            margin-top: 3.125rem;
        }
    }

    p {
        margin: 0;
    }

    .singleProject-header{
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('~/dist/assets/images/single-project.jpg') no-repeat center center;
        background-size: cover;
    }

    .singleProject-main-wrapper {
    
        @include mobile {
            padding: 0;
        }
        
        @include tablet {
            padding: 0;
            width: 100%;
        }
    }
    
    .project-img {
        width: 100%;
        height: 495px;
    }
    
    .project-caption {
        position: absolute;
        bottom: 0;
        color: white;
        padding: 1.25rem 1.5rem; 
        font-weight: bold;
        line-height: 22px;
    }
    
    .project-figure {
        position: relative;
    }

    .description {
        @include mobile {
            padding: 0 1.25rem;
        }
    }

    // CAROUSEL STLYES ****************************

    .carousel-caption {
        right: auto !important;
        left: auto !important;
        padding: 1.25rem 1.5rem;
        bottom: 0 !important;
    }

    .icon-left {
        transform: rotate(180deg) !important;
    }

    .icon-right-open::before {
        color: #905B00;
        font-size: 28px;
        margin: 0;
        padding: 8.5px 28px 8.5px 17px;
        background-color: white;
        border-radius: 10px;
    }

    
}