@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

#single-course {

    @include footer-headers;

    h1 {
        @include main-title;
        color: $color-courses-education;
    }
    
    h2 {
        @include default-title;

        @include mobile {
            margin-bottom: 1.5rem;
        }
    }

    h3 {
        font-size: 1.875rem;
        font-weight: 800;
        // line-height: 30px;
        // line-height: 42px;
        line-height: 2.625rem;
        
        @include mobile {
            font-size: 1rem;
            text-transform: uppercase;
            
        }
    }

    p {
        margin: 0;
    }

    .main-shared {
        @include mobile {
            padding-bottom: 0;
        }
    }

    .color-featured {
        line-height: 2.5625rem;
        margin-bottom: 0.75rem;

        @include mobile {
            // line-height: 1.5rem;
            margin: 0;
        }
    }

    .program-description-text {

        @include mobile {
            padding: 0  1.875rem 1.25rem 1.875rem;
        }
    }


    .program-features-wrapper {
        background-color: $color-past-events-bkg;
        margin-bottom: 1.875rem;

        @include mobile {
            margin: 0;
        }
    }

    .singleCourse-main-wrapper {

        overflow: hidden;
        ul {
            padding: 1rem 2rem;
            margin: 0;
            
            @include mobile {
                padding: 0 2rem;
            }

            li {
                color: $color-featured;

                .list-info-text {
                    color: black;
                }
            }

            li:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }

    }

    .single-course-img {
        width: 100%;
        height: 300px;
        margin-top: 1.25rem;

        @include mobile {
            display: none;
        }
    }

    .featured-title {
        display: flex;
        justify-content: space-between;

        @include mobile {
            color: black;
        }
    }

    .section-info-title {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // width: 100%;

        span {
            // display: block;
            position: relative;
            padding-right: 20px;
            z-index: 1;
            background-color: $main-background-color;
            
            @include mobile {
                margin: 0;
                background-color: transparent !important;
            }

           
        }

        // span::first-line {
        //     background-color: transparent;
        // }

        // span:first-line {
        //     background-color: transparent;
        // }

        @include mobile {
            display: flex;
            justify-content: space-between;

        }

        &:after {
            // content: '';
            // background-color: $color-ephemera;
            // height: 1px;
            // flex: 1;
            // opacity: 0.3;

            @include mobile {
                content: none;
            }
        }
    }

    .singleCourse-header {
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../../assets/images/single-course.jpg') no-repeat center center;
        background-size: cover;
    }

    .singleCourse-main-wrapper {

        display: flex;
        align-items: flex-start;
    
    
        @include mobile {
            flex-direction: column;
        }
        
    }
    
    .section-info-wrapper {
        @include mobile {
            background-color: $color-past-events-bkg;
            border-left: 4px solid $color-courses-education;
            margin: 1px;
            padding: 1rem 1.25rem 1.25rem 1.25rem;
        }
    }
    .program-featured-wrapper {
        @extend .section-info-wrapper;
    }

    .icon-right-open {
    
        font-size: 18px;
        
        @include tablet {
            display: none;    
        }

        @include desktop {
            display: none;    
        }

        &::before {
            transition: all 0.4s;
        }

    }

    .section-info-title-wrapper {
        margin-bottom: 1.5rem;
        
        @include mobile {
            margin: 0;

        }
    }

    .section-info-text {

        @include mobile {
            margin-top: 1rem;
            display: none;
        }
    }
    
    .icon-toggle {
        transition: all 1s; 
    }

    .program-featured-header {

        &:after {
            content: ':'
        }
        
        @include mobile {
            
            &:after {
                content: none;
            }
        }
    }

    // .fillLine {
    //     display: inline-block;
    //     width: 100%;
    //     border-bottom: 1px solid black;
    // }

    hr {
        float: right;
        width: 1000px;
        opacity: 0.3;
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid $color-ephemera;
        padding: 0; 
        position: absolute;
        bottom: 0;
        overflow: hide;
        z-index: -1;

        @include mobile {
            display: none;
        }
    }

    .img-wrapper {
        height: 300px;
        
        @include mobile {
            height: 0;
        }
    }
    
}
