@import '~bootstrap/dist/css/bootstrap.css';

@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

@import 'partials/header';
@import 'partials/footer';
@import 'partials/shared';
@import 'partials/override';

@import 'partials/mobile-burger';
@import 'partials/mobile-menu';

@import './vendor/fontello.css';

// @import './vendor/bootstrap.min.css';

// @import 'modules/about';
// @import 'modules/eventsExhibitions';
// @import 'modules/singleEvent';
// @import 'modules/coursesEducation';
// @import 'modules/singleCourse';
// @import 'modules/projects';
// @import 'modules/singleProject';
