@import '~bootstrap/dist/css/bootstrap.css';

@import 'base/main';
@import 'base/mixins';
@import 'base/variables';

@import 'partials/header';
@import 'partials/footer';
@import 'partials/shared';
@import 'partials/override';

@import 'partials/mobile-burger';
@import 'partials/mobile-menu';

@import './vendor/fontello.css';
