<div class="sticky-menu-wrapper nav-down">
    <nav class="desktop-navigation-links container">
        <a href="./">
            <img id="logo-img" src="../assets/images/logos/nli-logo-desktop.png" alt="Bridge To Europe">
        </a>
        <ul class="navigation-list-wrapper">
            <li class="navigation-list tablet-icon">
                <a href="./" class="navigation-links">
                    <img id="tablet-logo" src="../assets/images/logos/nli-logo-mobile.png" alt="Bridge To Europe">
                </a>
            </li>
            <li class="navigation-list navigation-list-about"><a href="about.html" class="navigation-links">about</a></li>
            <li class="navigation-list navigation-list-projects"><a href="projects.html" class="navigation-links">projects</a></li>
            <li class="navigation-list navigation-list-education"><a href="coursesEducation.html" class="navigation-links">education and courses</a></li>
            <li class="navigation-list navigation-list-events"><a href="eventsExhibitions.html" class="navigation-links">events and exhibitions</a></li>
            <li class="navigation-list navigation-list-contact"><a href="#footer" class="navigation-links">contact us</a></li>
        </ul>
    </nav>
</div>