<footer id="footer" class="app-footer">
    <div class="footer-upper container">
        <div class="footer-upper-section">
            <div class="footer-img" >
                <a href="https://rothschildfoundation.eu/" target="_blank">
                    <img src="../assets/images/logos/Rothschild.png" alt="Rothchild Foundation (Hanadav) Europe">
                </a>
            </div>
            <div class="footer-img" >
                <a href="http://web.nli.org.il/sites/NLI/english/Pages/default.aspx" target="_blank">
                    <img src="../assets/images/logos/NLI.png" alt="The National Library of Israel">
                </a>
            </div>
        </div>

        <!-- MOBILE LAYOUT -->

        <div class="footer-upper-section mobile-item">
            <section class="contact-us">
                <div class="contact-us-wrapper">
                    <h2>Contact Us</h2>
                    <div class="form-wrapper">
                        <div class="form-input-wrapper">
                            <form>
                                <input type="email" name="email" placeholder="email">
                                <input type="text" name="text" placeholder="what's on your mind?">
                                <input type="submit" class="btn footer-contact-btn" value="send">
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="footer-upper-section mobile-item">
            <h2>Come visit <span class="nli">the National Library</span></h2>
            <div class="address-wrapper">
                <i class="icon-location-outline"></i>
                <address>
                    Kiryat Edmon Saftra, Jerusalem, Israel, 9139002
                </address>
            </div>
            <a class="view-map" href="">view on map</a>
        </div>

        <!-- MOBILE LAYOUT END  *******************************************************-->

        <!-- DESKTOP LAYOUT -->
        <div class="footer-upper-section desktop-item">
            <h2>Come visit <span class="nli">the National Library</span></h2>
            <div class="address-wrapper">
                <i class="icon-location-outline"></i>
                <address>
                    Kiryat Edmon Saftra, Jerusalem, Israel, 9139002
                </address>
            </div>
            <a class="view-map" href="">view on map</a>
        </div>


        <div class="footer-upper-section desktop-item">
            <section class="contact-us">
                <div class="contact-us-wrapper">
                    <h2>Contact Us</h2>
                    <div class="form-wrapper">
                        <div class="form-input-wrapper">
                            <form>
                                <input type="email" name="email" placeholder="email">
                                <input type="text" name="text" placeholder="what's on your mind?">
                                <input type="submit" class="btn footer-contact-btn" value="send">
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- DESKTOP LAYOUT END  *******************************************************-->
    </div>
    <div class="footer-wrapper footer-lower">
        <div class="social-media-cont">
            <i class="footer-icons icon-twitter"></i>
            <i class="footer-icons icon-facebook-squared"></i>
            <i class="footer-icons icon-email"></i>
        </div>
        <div class="copyright-wrapper">
            <p class="copyright-text">
                &copy; 2017 Bridge to Europe.<br class="footer-copyright-breaker"> All Rights Reserved.
            </p>
        </div>
    </div>
</footer>