<header class="app-header">

    <!-- <img class="project-img" src="../assets/images/yeoman.png" alt=""> -->
<!-- <div class="website-logo-cont">
</div> -->
<!-- <div class="header-center container"> -->
    <img id="logo-img" src="../assets/images/bridge-to-europe.png" alt="Bridge To Europe">
    <nav class="desktop-navigation-links container">
        <ul class="navigation-list-wrapper">
            <li class="navigation-list"><a href="about.html" class="navigation-links">about</a></li>
            <li class="navigation-list"><a href="projects.html" class="navigation-links">projects</a></li>
            <li class="navigation-list"><a href="coursesEducation.html" class="navigation-links">education and courses</a></li>
            <li class="navigation-list"><a href="eventsExhibitions.html" class="navigation-links">events and exhibitions</a></li>
        </ul>
    </nav>
    <div class="main-header container">
        <h1>Gesher Le Europe</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus similique, dolorum harum itaque animi vero repellendus nemo sunt possimus nam numquam, reiciendis, odit commodi quis optio impedit ab. Unde, doloremque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam autem repellat atque consequatur magni possimus perspiciatis et culpa, totam ad consequuntur quisquam distinctio dolores provident eius assumenda minima hic! Ratione.</p>
        <div class="btn-wrapper">
            <a class="btn shared-btn uppercase" href="">read more</a>
        </div>
    </div>
<!-- </div> -->
<!-- <div class="search-cont">
    <form action="" class="search-form">
        <div class="input-wrapper">
            <input type="text" class="search-input" placeholder="Search">
            <span id="input-search-icon" class="search-icon"><i class="icon-search"></i></span>
        </div>
    </form>
</div> -->
<!-- <div class="library-logo-cont ">
</div> -->
<div class="hamburger" id="nav-icon">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
</header>