<div id="mobile-menu">
        <header class="mobile-menu-header">
            <img src="../assets/images/logo.png" alt="National Library of Israel" id="mobile-logo">
            <div class="hamburger is-active" id="nav-icon">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </header>
        <main class="mobile-menu-main">
            <nav class="mobile-navigation-links">
                <ul class="mobile-navigation-list-wrapper">
                    <li class="mobile-navigation-list">
                        <a class="mobile-navigation-links" href="about.html">About</a>
                    </li>
                    <li class="mobile-navigation-list">
                        <a class="mobile-navigation-links" href="projects.html">Projects</a>
                    </li>
                    <li class="mobile-navigation-list">
                        <a class="mobile-navigation-links" href="coursesEducation.html">Education &amp; Courses</a>
                    </li>
                    <li class="mobile-navigation-list">
                        <a class="mobile-navigation-links" href="eventsExhibitions.html">Events &amp; Exhibitions</a>
                    </li>
                </ul>
            </nav>
        </main>
        <footer class="mobile-footer">
            <div class="mobile-footer-wrapper">
                <div class="social-media-cont">
                    <i class="footer-icons icon-facebook-squared"></i>
                    <i class="footer-icons icon-twitter"></i>
                    <i class="footer-icons icon-email"></i>
                </div>
            </div>
        </footer>
    </div>